[user]
	email = imranshafqat1@gmail.com
	name = Imran Shafqat
[alias]
	aliasname= "!f() { curl -s -X POST -u USERNAME:APP-PASSWORD -H 'Content-Type: application/json' https://api.bitbucket.org/2.0/repositories/USERNAME/$1 -d '{ \"is_private\": \"true\", \"fork_policy\": \"no_forks\", \"mainbranch\": { \"type\": \"branch\", \"name\": \"master\" }, \"language\": \"android\", \"scm\": \"git\", \"project\": { \"key\": \"PROJECTKEY\"  } }' | /d/installations/jq-win64/jq-win64.exe '.links.clone[].href'; }; f"
